.container {
  list-style: none;
  font-size: 14px;
  width: 80%;
  padding: 20px;
}
.container li {
  position: relative;
  display: inline;
}
.container label {
  display: inline-block;
  border: 2px solid #d3d3d3;
  background-color: rgba(255, 255, 255, 0.9);
  color: #adadad;
  border-radius: 25px;
  margin: 3px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s;
}

label:hover {
  border: 2px solid #6a5acd;
  color: #6a5acd;
}

label::before {
  content: "+";
  display: inline-block;
  font-weight: 900;
  transition: transform 0.3s ease-in-out;
  margin-right: 5px;
}

input:checked + label::before {
  content: "✓";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

input:checked + label {
  background-color: #6a5acd;
  color: #fff;
  transition: all 1s;
}

.container input {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  opacity: 0;
}

@media (max-width: 1100px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}
